extends layout

block title
  title #{headTitle}

block content
  div.heading
    h1 #{title}
    div.link-container
      div.multi-link-container
        a(href='/books/search') Search Book
        a(href='/books/new' style="margin-left: 40px") Add Book
  if query.title || query.author || query.genre || query.year
    include includes/filter-form
  table
    thead
      tr.name-row
        th Title
        th Author
        th Genre
        th Year
    tbody
    if books.length > 0
      each book in books
        tr
          td
            a.book-name(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
    else 
      tr
        td No Matches Found
  include includes/page-buttons