extends layout

block title
  title #{headTitle}

block content
  h1 #{alert}
  div.heading
    h1 #{title}
    div.button-container
      a.button.create(href='/books/new') Add Book
  table
    thead
      tr.name-row
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a.book-name(href=`/books/${book.id}/update`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
  ul.page-container
    each pageNumber in pagesArray
      a(href=`/books/page=${pageNumber}`)
        if pageParam === pageNumber
          li.page.active #{pageNumber}
        else 
          li.page #{pageNumber}