extends layout

block title
  title #{headTitle}

block content
  form(method='post' action="/books/new")
    div.heading
      h1 #{title}
      div.button-container
        div.multi-button-container  
          h2
            input.create(type='submit' value='Create Book +')
          a.button.cancel(href='/books/page=1') Cancel
    div.field-container
      if errors
        include includes/form-error
        if titleError
          h2
            label(for='title') Title
            input#title.error(name='title' type='text' value=newBook.title) 
        else 
          h2
            label(for='title') Title
            input#title(name='title' type='text' value=newBook.title) 
        if authorError
          h2
            label(for='author') Author
            input#author.error(name='author' type='text' value=newBook.author) 
        else 
          h2
            label(for='author') Author
            input#author(name='author' type='text' value=newBook.author)   
        h2
          label(for='genre') Genre
          input#genre(name='genre' type='text' value=newBook.genre)
        h2
          label(for='year') Year
          input#year(name='year' type='text' value=newBook.year)       
      else 
        h2
          label(for='title') Title
          input#title(name='title' type='text' value=newBook.title)
        h2
          label(for='author') Author
          input#author(name='author' type='text' value=newBook.author)      
        h2
          label(for='genre') Genre
          input#genre(name='genre' type='text' value=newBook.genre)
        h2
          label(for='year') Year
          input#year(name='year' type='text' value=newBook.year)